/* Общие стили */
body {
  font-family: sans-serif;
  background-color: rgb(255, 209, 216);
  margin: 0;
  padding: 0;
}

/* Контейнер */
.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* Шапка */
.header__top {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}

.logo {
  font-size: 28px;
  text-transform: uppercase;
  color: black;
  font-weight: 800;
}

.nav__list {
  display: flex;
  gap: 15px;
}

/* Карточки */
.card, .carda, .cardi {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: auto;
  background-color: rgb(252, 192, 201);
}

.card img {
  width: 100%; /* Адаптивная ширина */
  max-width: 300px;
  height: auto;
}

/* Медиа-запросы для адаптации */
@media (max-width: 768px) {
  .header__top {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .nav__list {
    flex-direction: column;
    gap: 10px;
  }

  .contact {
    align-items: center;
  }

  .card-list {
    flex-direction: column;
    gap: 15px;
  }

  .card-item {
    width: 100%;
  }

  .menu {
    display: none;
  }

  .menu.active {
    display: block;
  }
}

/* Для совсем маленьких экранов */
@media (max-width: 480px) {
  .logo {
    font-size: 24px;
  }

  .card-header, .carda-header {
    font-size: 22px;
  }

  .contact span,
  .contact__link {
    font-size: 16px;
  }

  .nav__list {
    gap: 5px;
  }

  .card img {
    max-width: 250px;
  }
}
